# IntelliJ IDE platform
.idea
.attach_*

# Binaries C# (and others)
obj/
bin/

# Binaries for Kotlin
*.class
*.kotlin_module

# python stuff
venv/
__pycache__/

# Fortran stuff
*.out
*.mod
build

*.backup
